<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Movie Review System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>


	<div class="container my-2">
	<center><h1> All Movies </h1> </center>

	
	<a th:href = "@{/showNewMovieForm}" class="btn btn-primary btn-sm mb-3"> Admin Add Movie </a>
		<table border="1" class = "table table-striped table-responsive-md">
			<thread>
				<tr>
					<th> Movie Name</th>
					<th> Movie Genre </th>
					<th> Movie Rating </th>
					<th> Movie Year </th>
					<th> Movie Score </th>
				</tr>
			</thread>
			<tbody>
				<tr th:each="movie : ${listMovies}">
					<td th:text="${movie.name}"></td>
					<td th:text="${movie.genre}"></td>
					<td th:text="${movie.rating}"></td>
					<td th:text="${movie.year}"></td>
					<td th:text="${movie.score}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>